body {
    background-color: rgb(75, 210, 220);
}

p {
    color: rgb(237, 237, 237);
    font-size: 10px;
}

main {
    background-color: black;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
}

h1 {
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;

}

img {
    height: 50px;
    width: 50px;
}

.picks {
    background-color: white;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5%;
    padding-right: 1%;
}

.rock {
    margin-left: 25px;
}
.paper {
    margin-right: 105px;
}
.scissors {
    margin-left: 25px;
    margin-right: 25px;
}

input {
    margin-left: 270px;
}

#cantDoThat {
    text-align: center;
}